
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
body {
  font-family: poppins;
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
  color: #FFF;
}

.cv-container {
  display: flex;
  max-width: 21cm; 
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 
  background-color: #fff; 
}

.left-section, .right-section {
  flex: 1; 
  padding: 20px;
}

.left-section {
  border-right: 1px solid #FFF; 
  background-color: #7D0708; 
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.about-me, .contact-info, .reference, .education, .work-experience, .skills {
  margin-top: 20px;
}

h1, h2, h3 {
  margin: 0;
  
}

.right-section {
  text-align: left; 
  background-color: #750606;
  flex: 2; 
}

.full-name {
  font-size: 2em;
  color: #ffffff; 
}

.profession {
  color: #fb6f0c; 
}

h2 {
  border-bottom: 1px solid #e11a1a;
  padding-bottom: 5px;
}

p {
  margin: 5px 0;
  text-align: justify;
}
.education-entry {
  margin-bottom: 20px;
  color: #000000;
}
.edu {
 color: #000000;
}
.work {
  color: #000000;
}

.experience-entry {
  margin-bottom: 20px;
  color: #000000;  
}

.education, .work-experience {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  padding: 20px; 
  border-radius: 8px; 
  background-color: #fff; 
  margin-bottom: 20px;
}